body {
background-image: url("background.jpg");	
}
#middle {
text-align: center;
}
#icons {
background-color: blue;
text-align: center;
}
#footer {
text-align: center;
background-color: blue;
}
a {
color: #000;
}
#middle p{
background-color: #fff;
color: blue;
}